.appBackground {
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.appContainer {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  overflow: hidden;
  border-radius: 10px;
}

.appLogo {
  margin-bottom: 10px;
  margin-top: 10px;
}

.appWindow {
  display: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calculatorContainer {
  width: 40vw;
  height: 50vw;
  background-color: #e7e7e7;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-direction: column;
}

.selectorContainer {
  width: 30vw;
  height: 50vw;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
}
